footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 75px;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
}

.footer-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes icon-move{
    0%{
        transform: translateY(3px);
    }25%{
        transform: translateY(-8px);
    }30%{
        transform: translateY(-9px);
    }35%{
        transform: translateY(-8px);
    }100%{
        transform: translateY(2px);
    }
}

.footer-icon:hover .footer-image{
    animation: 1.2s icon-move infinite;
}

.footer-icon img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 35px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 0 50px 0px 50px;
    overflow: hidden;
    cursor: pointer;
    height: 80px;
}

.footer-text {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 60px;
}